<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyApp</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>hello, world</h1>
        <p>feature1: added a line to stale file: myapp/views/index.ejs</p>
        <p>feature2: removed myapp/views/index.ejs, and added line 2 here</p>
    </div>
</body>
</html>
