body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: blue;
  font-size: 200%;
}

p {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
